.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.breadcrumb {
    padding: 12px 0;
    font-size: 18px;
    margin: 0;
}

.highlight {
    padding: 9px 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.zero-preview {
    position: relative;
}

.preview-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}

.preview-btn:hover, .preview-btn-active {
    color: #fff;
    background: #563d7c;
    border: 1px solid #563d7c;
}

.glyph-btn {
    display: block;
    border: 1px solid #ddd;
    padding: 6px 8px;
    border-radius: 3px;
    cursor: pointer;
    color: #999;
}

.glyph-btn:hover {
    background: #efefef;
    color: #666;
}

/* Groups */
.groups-list__btn-new {
    text-align: right;
    padding-top: 25px;
}

.groups-list__item {
    padding: 15px 0;
    border-bottom: 1px solid #e8e8e8;
}

.groups-list__item-controls {
    float: right;
    line-height: 40px;
}

.groups-list__item a {
    font-weight: bold;
}

.groups-list__item .group-item__info {
    color: gray;
}

.group-description__projects {
    position: relative;
    margin-top: 20px;
}

.group-description__projects-btn {
    position: absolute;
    top: 0;
    right: 0;
}

/* Groups form */
.group-form textarea, .group-form__preview {
    height: 400px;
}

.group-form__preview {
    display: none;
}

.group-form textarea {
    font-family: monospace;
    resize: none;
}

.group-form__edit {
    margin-bottom: 20px;
}

.group-detail__users-add-error {
    margin-left: 10px;
}

/* Groups detail */
.group-detail__description {
    padding-left: 25px;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

.group-detail__users-item {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #e8e8e8;
}

.group-detail__users-item-first a {
    line-height: 34px;
    font-size: 18px;
}

.group-detail__users-item_controls {
    float: right;
    margin-left: 15px;
}

.group-detail__users-role {
    width: 150px;
    display: inline;
}

.group-detail__users-add {
    padding: 20px 0;
}

.group-detail__users-add .form-control {
    margin-right: 10px;
    min-width: 150px;
}
